$space-cadet: #212D58;
$clementine-peel: #E8662B;
$humpy-dumpty: #EEE4CD;
$bleu-jean-blue: #3463A9;
$sunnysunshine: #F1AA45;

// scss-docs-start color-variables
$blue:    $bleu-jean-blue;
$blue-dark: $space-cadet;
$red:     #A83535;
$orange:  $clementine-peel;
$yellow:  $sunnysunshine;
$green:   #54A835;

$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$teal:    #20c997;
$cyan:    #0dcaf0;

// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #EDEDEF;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #252523;
$black:    #000;

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "blue-dark": $blue-dark,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
);


// scss-docs-start theme-coor-variables
$primary:       $blue;
$secondary:     $blue-dark;
$third:         $clementine-peel;
$info:          $humpy-dumpty;
$success:       $green;
$warning:       lighten($red, 40%);
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);


$footer-bg-color: $info;
$body-bg:                   $white;
$body-color:                $space-cadet;

//  FONTS

$font-family-sans-serif:      "Lufga";//, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-weight-lighter: lighter;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-light;


//  HEADING
$headings-font-weight: $font-weight-semibold;